{% extends "base.html.twig" %}

{% set body_class = 'page--list' %}

{% block body %}
  <section class="section--list">
    <div class="l__wrapper">
      <h1>Tienda benéfica</h1>

      <p>
        Todos los beneficios son destinados a mejorar la calidad de vida y el día a día de los perros de nuestro refugio. Para hacer tu pedido escríbenos a <a href="mailto:tienda@ribercan.org">tienda@ribercan.org</a> o contacta con nosotros a través del teléfono <b>696 204 292</b> indicando los siguientes datos:
      </p>

      <ul style="margin-bottom: 3rem;">
        <li>Productos de tu pedido</li>
        <li>Nombre y apellidos</li>
        <li>Dirección completa de envío</li>
      </ul>

      <p>
        El pago se realiza mediante ingreso o transferencia bancaria, y los envíos por correo ordinario. Donativo y carácterísticas al pie de foto de cada producto.
      </p>

      <p>
        Gracias por colaborar!
      </p>

      <ul class="List--products">
        {% for product in products %}
          <li class="ListItem">
            <article class="product">
              {% if product.mainImage %}
                <figure class="pic">
                  <img src="{{ product.mainImage.webPath }}">
                </figure>
              {% endif %}
              <div class="main">
                <p class="name" data-title="Nombre">{{ product.name }}</p>
                <ul class="metadata">
                  <li class="price" data-title="Donativo">Donativo: {{ product.price }} &euro;</li>
                </ul>
              </div>
            </article>
          </li>
        {% endfor %}
      </ul>

      <div class="pager-wrapper"></div>
    </div>
  </section>
{% endblock %}
