<ul class=list--social>
  <li><a href="https://www.facebook.com/pages/RIBERCAN-Proteger-y-Defender/10150145024000392?ref=ts" title="Página de Facebook de Ribercan" target="_blank" class=facebook>facebook</a></li>
  <li><a href="https://www.twitter.com/ribercan" title="Cuenta de Twitter de Ribercan" target="_blank" class=twitter>twitter</a></li>
  <li><a href="https://www.teaming.net/ribercan-sociedadprotectoradeanimales" title="Grupo de teaming de Ribercan" target="_blank" class=teaming>teaming</a></li>
  <li><a href="https://www.youtube.com/user/RIBERCAN1997?feature=mhee" title="Canal de YouTube de Ribercan" class=youtube>youtube</a></li>
</ul>
