<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Ribercan - Sociedad Protectora de Animales de La Ribera{% endblock %}</title>
    {% block header_javascripts %}{% endblock %}
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('css/main.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:100,400" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="MainWrapper">
      {{ include('menu.html.twig') }}
      <div class="MainBody" role="main">
        {% block body %}{% endblock %}
      </div>
      <footer class="MainFooter">
        <div class="l__wrapper">
          <ul class="MainFooter-listLegalStuff">
            <li class="ListItem">
              <a href="#" class="MenuLink">Contacto</a>
            </li>
            <li class="ListItem">Sociedad Protectora de animales de la Ribera (Carcaixent - Valencia) © 2014</li>
          </ul>
        </div>
      </footer>
      <div class="overlay"></div>
    </div>
    {% block javascripts %}{% endblock %}
  </body>
</html>
