<header class="MobileHeader">
  <div class="MobileHeader-primary">
    <input class="MobileHeader-openPrimaryMenu mobile__open--primary-menu" type="button" value="Open Menu"></input>
    <a class="MobileHeader-mainLogo" href="/">Ribercan</a>
  </div>
</header>
<nav class="MobileNavigation--primary" role="navigation">
  <ol class="MobileSidebar-Menu" role="menu">
    <li class="ListItem">
      <a role="menuitem" class="MenuLink active" href="/news">Noticias</a>
    </li>
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="/dogs">Perros en adopción</a>
    </li>
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="/about-us">Quiénes somos</a>
    </li>
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="/how-to-help">Cómo ayudar</a>
    </li>
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="/advices">Consejos</a>
    </li>
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="/events/">Eventos</a>
    </li>
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="{{ path('shop_index') }}">Tienda</a>
    </li>
  </ol>
</nav>
<nav class="DesktopNavigation" role="navigation">
  <div class="DesktopNavigation-primary">
    <div class="l__wrapper">
      <a href="/" class="Desktop-MainLogo">Ribercan</a>
      {{ include('google_translate.html.twig') }}
    </div><!-- l__wrapper -->
  </div>
  <div class="DesktopNavigation-secondary">
    <div class="l__wrapper">
      <ol class="DesktopMenu" role="menu">
        <li class="ListItem">
          <a role="menuitem" class="MenuLink" href="/news">Noticias</a>
        </li>
        <li class="ListItem">
          <a role="menuitem" class="MenuLink" href="/dogs">Perros en adopción</a>
        </li>
        <li class="ListItem">
          <a role="menuitem" class="MenuLink" href="/about-us">Quiénes somos</a>
        </li>
        <li class="ListItem">
          <a role="menuitem" class="MenuLink" href="/how-to-help">Cómo ayudar</a>
        </li>
        <li class="ListItem">
          <a role="menuitem" class="MenuLink" href="/advices">Consejos</a>
        </li>
        <li class="ListItem">
          <a role="menuitem" class="MenuLink" href="/events/">Eventos</a>
        </li>
        <li class="ListItem">
          <a role="menuitem" class="MenuLink" href="{{ path('shop_index') }}">Tienda</a>
        </li>
      </ol>
    </div><!-- l__wrapper -->
  </div>
  {% set desktop_submenu = desktop_submenu|default(false) %}
  {% if desktop_submenu %}
    <div class="DesktopNavigation-terciary">
      <div class="l__wrapper">
        {{ desktop_submenu }}
      </div><!-- l__wrapper -->
    </div>
  {% endif %}
</nav>
