{% extends "base.html.twig" %}

{% set body_class = 'page-index' %}

{% block body %}
  <section class=section--index>
    <div class=jumbotron itemscope itemtype=http://schema.org/Organization>
      <div class="l__wrapper">
        <h1 itemprop=name>Ribercan</h1>
        <p class=lead>Sociedad Protectora de Animales de La Ribera<br><span itemprop=address itemscope itemtype=http://schema.org/PostalAddress><a href=# itemprop=addressLocality>Carcaixent, España</a> · <a href=# class=email itemprop=email>email@email.com</a></span></p>
        <p><span class=msg--alert>No recogemos perros.</span></p>
        <p><span class=tlf itemprop=telephone>654 561 572</span> <span class=tlf itemprop=telephone>645 754 224</span></p>
        {% include '_social.html.twig' %}
      </div>
      <!-- "l__wrapper" -->
    </div>
    <div class="l__row">
      <div class="l__wrapper"></div>
    </div>
    <div class="l__row">
      <div class="l__wrapper">
        <div class=main>
          <div class=featured>
            <form class=form--search>
              <header class=header>
                <h2>Buscador de animales</h2>
              </header>
              <div class=main>
                <ul class=list--search-filters>
                  <li>
                    <label>Sexo</label>
                    <div class="button dropdown">
                      <select>
                        <option>Macho
                        <option>Hembra
                      </select>
                    </div>
                  </li>
                  <li>
                    <label>Edad</label>
                    <div class="button dropdown">
                      <select>
                        <option>Cachorro
                        <option>Adulto
                      </select>
                    </div>
                  </li>
                  <li>
                    <label>Tamaño</label>
                    <div class="button dropdown">
                      <select>
                        <option>Pequeño
                        <option>Mediano
                        <option>Grande
                      </select>
                    </div>
                  </li>
                  <li><input type=submit value=Buscar class="btn btn--primary"></li>
                </ul>
              </div>
              <!-- .main -->
            </form>
            <!-- .form--search -->
            <div class="urgent">
              {{ include('RibercanDogBundle:Dog:urgent_adoptions.html.twig', { 'dogs': urgent_adoptions }) }}
            </div>
            <!-- .urgent -->
          </div>
          <!-- featured -->
          <div class=news>
            <header>
              <h2>Noticias</h2>
            </header>
            <div class=main>
              <ul class=list--news>
                <li>
                  <article>
                    <p class="date"><time>26/01/2014</time></p>
                    <a href="news.html"><img src="https://scontent-b-mad.xx.fbcdn.net/hphotos-prn2/t31.0-8/q71/s720x720/1941502_10153862625475392_2105835074_o.jpg" alt="" width="120" height="120"></a>
                    <h3><a href="news.html">1ª Comida Benéfica de San Valentín</a></h3>
                    <p>Os informamos que este año vamos a celebrar nuestra "1ª Comida Benéfica de San Valentín" que tendrá lugar el próximo 16 DE FEBRERO a las 14:00h en la antigua discoteta Bambú de Carcaixent (Valencia), junto al campo de fútbol de "els quatre camins".</p>
                  </article>
                </li>
                <li>
                  <article>
                    <p class="date"><time>26/01/2014</time></p>
                    <a href="news.html"><img src="https://scontent-b-mad.xx.fbcdn.net/hphotos-prn2/t31.0-8/q71/s720x720/1941502_10153862625475392_2105835074_o.jpg" alt="" width="120" height="120"></a>
                    <h3><a href="news.html">Muestra solidaria de Rock</a></h3>
                    <p>El próximo 8 de Febrero en el Hot Rod Café de Sueca (Valencia) participaremos en la Mostra solidària de rock!</p>
                  </article>
                </li>
                <li>
                  <article>
                    <p class="date"><time>26/01/2014</time></p>
                    <a href="news.html"><img src="https://scontent-b-mad.xx.fbcdn.net/hphotos-prn2/t31.0-8/q71/s720x720/1941502_10153862625475392_2105835074_o.jpg" alt="" width="120" height="120"></a>
                    <h3><a href="news.html">Camisetas personalizadas</a></h3>
                    <p>Queremos compartir con vosotros la iniciativa de Paper Clouds Design, que diseña estas chulísimas camisetas personalizadas con el nombre de tu mascota y su foto.</p>
                  </article>
                </li>
              </ul>
            </div>
            <!-- .main -->
          </div>
          <!-- news -->
        </div>
        <!-- .main -->
      </div>
      <!-- .wrapper -->
    </div>
    <!-- ."l__row" -->
  </section>
  <!-- section--index -->
{% endblock %}
