{% extends "RibercanAboutUsBundle:StaticPages:base-about_us.html.twig" %}

{% block title %}Sobre nosotros | Ribercan{% endblock %}

{% block title_body %}Quiénes somos{% endblock %}

{% block content_body %}
  <p>RIBERCAN es una sociedad protectora de animales sin ánimo de lucro, que solamente cuenta con las aportaciones económicas de los socios, de las personas que cada mes apadrinan un perro y de las donaciones particulares.

  <p>Esta protectora fue creada en el año 1.997 y está situada en un pueblo de Valencia llamado Carcaixent. Ubicada en un terreno de 2500 m2 cedido por el Ayuntamiento en el que tenemos albergados una media de 180 perros que están esperando una oportunidad de tener un hogar y de recibir todo el cariño y la atención que se merecen.

  <p>Durante este tiempo los colaboradores y voluntarios de Ribercan han intentado por todos los medios sacar adelante a perros que por desgracia son abandonados o maltratados

  <p>Estamos intentando cambiar de terreno, para que se pueda considerar como núcleo zoológico y poder así contar con subvenciones y ayudas a nivel nacional. Además de poder permitirnos acoger y albergar al mayor número de perros evitando que su suerte termine en una muerte injusta y cruel.

  <p>Ribercan necesita ayuda de todo tipo: económica para poder afrontar todos los gastos mensuales de alimentación, asistencia veterinaria, medicinas, mejoras en el refugio…, ayuda física de personas que ayuden en el día de a día del refugio, limpieza de instalaciones, reposición de agua y pienso, trasladar a los perros que lo necesiten al veterinario, difusión de los perros para encontrarles hogar, búsqueda de socios y padrinos, voluntarios que asistan a los eventos solidarios que realizamos todos los meses…

  <p>Estamos enormemente agradecidos a todos los voluntarios que se dejan la piel cada día para ayudar a nuestros perros, a todos los socios, padrinos, miembros del grupo teaming, y a todos aquellos que de una manera u otra colaboran con nosotros.

  <p>Si deseas pedir información sobre la protectora, hacernos cualquier tipo de consulta, hacer sugerencias e incluso aportarnos ideas para su mejora, no dudes en ponerte en contacto con nosotros a través del e-mail <a href="mailto:info@ribercan.org">info@ribercan.org</a>

  <p>¡Gracias!
{% endblock %}
