{% extends "base.html.twig" %}

{% set body_class = 'page--news' %}

{% block body %}
  <section class="section--news">
    <div class="l__wrapper">
      <div class="content--with-nav">
        <ol class="sidebar-menu" role="menu">
          <li class="ListItem">
            <a role="menuitem" class="MenuLink" href="/about-us/contacts">Contactos</a>
          </li>
          <li class="ListItem">
            <a role="menuitem" class="MenuLink" href="/about-us/for-regina">Por Regina</a>
          </li>
          <li class="ListItem">
            <a role="menuitem" class="MenuLink" href="/about-us/ribercan-friends">Amigos Ribercan</a>
          </li>
        </ol>
        <div class="content--with-nav__content">
          <h1>{% block title_body %}{% endblock %}</h1>
          <div class="news__body">
            {% block content_body %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
