{% extends "RibercanAboutUsBundle:StaticPages:base-about_us.html.twig" %}

{% block title %}Por Regina | Ribercan{% endblock %}

{% block title_body %}Por Regina{% endblock %}

{% block content_body %}
  <p><b>Por Regina, para que estas cosas no sucedan de nuevo, para que se pare a este tipo de personas y  que las administraciones e instituciones que pueden hacer algo no se queden quietas y apoyen a las asociaciones y a los particulares en este tipo de casos. Y sobre todo para que no se quede en el olvido. Por ella. Por ti, Regina. Y por otros muchos animales que mueren diariamente, víctimas del maltrato animal, sin que nadie sea castigado. La lucha sigue, es larga y dura, pero entre todos lo conseguiremos.</b></p>

  <p>Regina era un cruce de mastín de 5 años de edad, encantadora, un poco asustadiza aunque poco a poco conseguimos recuperar su confianza, se desprendía poco a poco de sus miedos y jugaba con nosotros y nos daba besitos. Ella no se merecía lo que le hicieron. No les bastó con llevarse a tres perros de las instalaciones (dos aparecieron, uno por los alrededores y una tirada por encima de la valla el siguiente domingo), abrir varias jaulas y destrozar las vallas para poder entrar dentro. No. Estos salvajes cogieron a nuestra Regina, ataron sus patas con alambre, abusaren sexualmente de ella introduciéndole una fruta por su orificio anal y la golpearon salvajemente en la cabeza con una piedra hasta que nuestra pobre Regina  no tuvo más fuerzas para resistir y falleció, ante la mirada atenta de unos seres que disfrutaban con sus cervezas,  en un charco de sangre, de esta forma tan inhumana, salvaje y cruel.

  <p>Después de este horrible asesinato que sufrimos una noche en nuestras instalaciones estábamos destrozados. Gente que ama a los animales, personas que dejan su vida a un lado para poder ayudarles... fue un duro golpe para todos nosotros. Todos sufrimos por este acto tan atroz de unos que se hace llamar nuestros &quot;semejantes&quot;. Nos quedamos sin palabras al verlo con nuestros propios ojos.

  <p>Pero tenemos que seguir luchando por ella y por todos los casos que quedan en el olvido o que nunca llegamos a conocer.  Nosotros nunca olvidaremos lo que le hicieron a nuestra querida Regina. Esto nos ha hecho más fuertes, año tras año convocamos una manifestación por las calles de Valencia en su honor. <b>En tu honor, Regina</b>. Cada vez son más personas que salen a las calles por tí, porque no te olvidamos y porque <b>tenemos que luchar para conseguir una ley de protección de animal digna</b>, como os merecéis. Cada vez somos más los que salimos a las calles para gritar, para que se nos escuche, <b>para que el mundo sepa las atrocidades que es capaz de cometer la raza humana</b>.

  <p><b>No dejemos que estos casos se repitan día tras día</b>. Tenemos que denunciar los casos de maltrato animal. No dejemos que nos calle porque &quot;son solo animales&quot;. Son seres vivos que sienten, que sufren, que aman,  maravillosos, fieles, que nos dan todo su cariño...sin condiciones. <b>Nosotros tenemos que ser su voz.</b></p>

  <p>Por ti, Regina. Siempre estarás en nuestros corazones.

  <h2>Galería de fotos de las manifestaciones</h2>

  <ul>
    <li><a href="https://www.facebook.com/media/set/?set=a.10150200694730392.437320.10150145024000392&amp;type=3">Manifestación del 2010</a></li>
    <li><a href="https://www.facebook.com/media/set/?set=a.10150623936575392.685721.10150145024000392&amp;type=3">Manifestación del 2011</a></li>
    <li><a href="https://www.facebook.com/media/set/?set=a.10151753823115392.859233.10150145024000392&amp;type=3">Manifestación del 2012</a></li>
    <li><a href="https://www.facebook.com/media/set/?set=a.10152839983445392.1073741834.10150145024000392&amp;type=1">Manifestación del 2013</a></li>
  </ul>
{% endblock %}
