{% extends "base.html.twig" %}

{% set body_class = 'page--news' %}
{% set desktop_submenu %}
  <ol class="DesktopMenu" role="menu">
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="/about-us/contacts">Contactos</a>
    </li>
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="/about-us/for-regina">Por Regina</a>
    </li>
    <li class="ListItem">
      <a role="menuitem" class="MenuLink" href="/about-us/ribercan-friends">Amigos Ribercan</a>
    </li>
  </ol>
{% endset %}

{% block title %}Por Regina | Ribercan{% endblock %}

{% block body %}
  <section class="section--news">
    <div class="l__wrapper">
      <h1>Por Regina</h1>
      <div class="news__body">
        <p><b>Por regina, para que estas cosas no sucedan de nuevo, para que se pare a este tipo de personas y &nbsp;que las administraciones e instituciones que pueden hacer algo no se queden quietas y apoyen a las asociaciones y a los particulares en este tipo de casos, y sobre todo para que no se quede en el olvido. Por ella. Por tí, Regina. Y por otros muchos animales que mueren diariamente, víctimas del maltrato animal, sin que nadie sea castigado. La lucha sigue, es larga y dura, pero entre todos lo conseguiremos.</b></p>

        <p>Regina era un cruce de mastín de 5 años de edad, encantadora, un poco asustadiza aunque poco a poco conseguimos recuperar su confianza, se desprendía poco a poco de sus miedos y jugaba con nosotros y nos daba besitos. Ella no se merecía lo que le hicieron. No les bastó con llevarse a tres perros de las instalaciones (dos aparecieron, uno por los alrededores y una tirada por encima de la valla el siguiente domingo), abrir varias jaulas y destrozar las vallas para poder entrar dentro... No. Estos salvajes cogieron a nuestra Regina, ataron sus patas con alambre, abusaren sexualmente de ella introduciendole una fruta por su orificio anal y la golpearon salvajemente en la cabeza con una piedra hasta que nuestra pobre Regina &nbsp;no tuvo más fuerzas para resistir y falleció, ante la mirada atenta de uno seres que disfrutaban con sus cervezas, &nbsp;en un charco de sangre, de esta forma tan inhumana, salvaje y cruel.</p>

        <p>Después de este horrible asesinato que sufrimos una noche en nuestras instalaciones estábamos destrozados. Gente que ama a los animales, personas que dejan su vida a un lado para poder ayudarles... Fue un duro golpe para todos nosotros. Todos sufrimos por este acto tan atroz de unos que se hace llamar nuestros "semejantes". Nos quedamos sin palabras al verlo en nuestro propios ojos.</p>

        <p>Pero tenemos seguir luchando por ella y por todos los casos que quedan en el olvido o que nunca llegamos a conocer. &nbsp;Nosotros nunca olvidaremos lo que le hicieron a nuestra querida Regina. Esto nos ha hecho más fuertes, año tras año convocamos una manifestación por las calles de Valencia en su honor.<b> En tu honor, Regina</b>. Cada vez son más personas que salen a las calles por tí, porque no te olvidamos y porque <b>tenemos que luchar para conseguir una ley de protección de animal digna</b>, como os mereceis. Cada vez somos más los que salimos a las calles para gritar, para que se nos escuche,<b>para que el mundo sepa las atrocidades que es capaz de cometer la raza humana.</b></p>

        <p><b>No dejemos que estos casos se repitan día tras día</b>. Tenemos que denunciar los casos de maltrato animal. No dejemos que nos calle porque "son solo animales". Son seres vivos que sienten, que sufren, que aman, &nbsp;maravillosos, fieles, que nos dan todo su cariño...sin condiciones.<b> Nosotros tenemos que ser su voz.</b></p>

        <p><a href="http://www.facebook.com/media/set/?set=a.10150200694730392.437320.10150145024000392&amp;type=3">Haz click aquí para ver las fotos de la manifestación del 2010</a></p>

        <p><a href="http://www.facebook.com/media/set/?set=a.10150623936575392.685721.10150145024000392&amp;type=3">Haz click aquí para ver las fotos de la manifestación del 2011</a></p>

        <p><a href="https://www.facebook.com/media/set/?set=a.10151753823115392.859233.10150145024000392&amp;type=3">Haz click aquí para ver las fotos de la manifestación del 2012</a></p>

        <p><a href="https://www.facebook.com/media/set/?set=a.10152839983445392.1073741834.10150145024000392&amp;type=1">Haz click aquí para ver las fotos de la manifestación del año 2013</a></p>

        <p>Por tí, Regina. Siempre estarás en nuestros corazones.</p>
      </div>
    </div>
  </section>
{% endblock %}
