{% extends "RibercanAboutUsBundle:StaticPages:base-about_us.html.twig" %}

{% block title %}Amigos Ribercan | Ribercan{% endblock %}

{% block body %}
  <section class="section--news">
    <div class="l__wrapper">
      <h1>Amigos Ribercan</h1>
      <div class="ribercan-friends--container">
        <div class="ribercan-friends--item">
          <img src="http://www.ribercan.org/userfiles/pantera rosa.jpg">
        </div>
        <div class="ribercan-friends--item">
          <a href="https://www.facebook.com/cdivnicsveterinaris"><img src="http://www.ribercan.org/userfiles/12105731_444969595705369_3929485536293131749_n.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://www.cdivnicaveterinariacastells.com/"><img src="http://www.ribercan.org/userfiles/castells.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="https://www.facebook.com/Cdivnica-Veterinaria-Ordas-243463005817350/?fref=ts"><img src="http://www.ribercan.org/userfiles/ordas.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://www.lespattounesducoeur.ch/"><img src="http://www.ribercan.org/userfiles/LOGO_Complet_0.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="https://www.facebook.com/hospitalveterinariovalenciasur"><img src="http://www.ribercan.org/userfiles/photologo.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://www.ronroneosymordiscos.com/"><img src="http://www.ribercan.org/userfiles/ima_6.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://www.vetaminic.com/"><img src="http://www.ribercan.org/userfiles/01e7c5b50da4face12b8f96824e2030d.png"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://carcaixent-noticias.com/"><img src="http://www.ribercan.org/userfiles/logo-fb.png"></a>
        </div>
        <div class="ribercan-friends--item">
          <img src="http://www.ribercan.org/userfiles/11182337_351894445006944_4979576778003662858_n.png">
        </div>
        <div class="ribercan-friends--item">
          <a href="http://www.ccriberadelxuquer.com/"><img src="http://www.ribercan.org/userfiles/Rbera del Xuquer.png"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://www.viajes4patas.com/"><img src="http://www.ribercan.org/userfiles/Sin título(10).jpg" height="97" width="500"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://boscagrafic.blogspot.com.es/"><img src="http://www.ribercan.org/userfiles/anagrama.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="https://www.facebook.com/marian.centrodeestetica"><img src="http://www.ribercan.org/userfiles/167146_135070606553749_1868297_n.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://facarcaixent.blogspot.com.es/"><img src="http://www.ribercan.org/userfiles/LOGO_FACA_NEG.jpg"></a>
        </div>
        <div class="ribercan-friends--item">
          <a href="http://www.musicalgaspar.com/"><img src="http://www.ribercan.org/userfiles/374652_280425105341725_1015276272_n.jpg" ></a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
