{% extends "base.html.twig" %}

{% block body %}
  <section class="section--list">
    <div class="l__wrapper">
      <h2>Listado de perros en adopción</h2>

      {{ include('RibercanDogBundle:Dog:filter.html.twig', { 'form': filter_form }) }}

      <ul class="List--animals">
        {% for dog in dogs %}
          <li class="ListItem">
            {{ include('RibercanDogBundle:Dog:dog.html.twig', { 'dog': dog }) }}
          </li>
        {% endfor %}
      </ul>

      <div class="pager-wrapper"></div>
    </div>
  </section>
{% endblock %}
