{% extends "RibercanAdvicesBundle:StaticPages:base-advices.html.twig" %}

{% block title %}Guia del adoptante | Ribercan{% endblock %}

{% block title_body %}Guia del adoptante{% endblock %}

{% block content_body %}
  <p>La adopción es una opción solidaria y cada vez más extendida en nuestro país. Además de salvar la vida del animal que se adopta, también estamos salvando la vida de otro animal que entra en su lugar en el refugio.

  <p>Sin embargo, debemos saber que en algunos casos puede requerir un poco más de esfuerzo por nuestra parte, ya que muchos de estos animales han sufrido experiencias traumáticas.

  <p>Para ayudar a los nuevos propietarios en esta experiencia, la Fundación Affinity ha editado la <b>Guía del adoptante</b>. En ella encontrarán respuestas a la mayoría de las dudas que se les puedan plantear: desde cuáles son las condiciones en que el refugio debe entregar al animal y los trámites legales, hasta consejos sobre la mejor forma de incorporar al nuevo miembro de la familia.
  <p>Haz click en las siguientes imágenes para descargar las respectivas guías. Esperamos que os sean de utilidad!
  <p><a href="http://www.fundacion-affinity.org/sites/default/files/ficheros/pdf/PerroAdulto.pdf">
    <img width="400" height="566" alt="" src="http://www.ribercan.org/userfiles/guiadeladoptante_1.jpg">
  </a>
  <p><a href="http://www.fundacion-affinity.org/sites/default/files/ficheros/pdf/PerroCachorro.pdf">
    <img width="400" height="566" alt="" src="http://www.ribercan.org/userfiles/guiadeladoptante_2.jpg">
  </a>
{% endblock %}
