{% extends "RibercanAdvicesBundle:StaticPages:base-advices.html.twig" %}

{% block title %}Perros y gatos | Ribercan{% endblock %}

{% block title_body %}Perros y gatos{% endblock %}

{% block content_body %}
<p>Un perro puede fácilmente matar a un gato, incluso si es jugando; una simple sacudida puede hacerles mucho daño...

<p>Algunos perros tienen tal instinto de presa que nunca deberían ser dejados a solas con un gato. Pero, lo más habitual no es encontrar perros que tengan tal instinto de presa con un gato que vive en la misma casa que ellos (otra cosa es gatos callejeros que tal cual ven a un perro salen disparados…), lo “normal” es que los perros quieran jugar con los gatos y perseguirlos, y que los gatos se asusten y se pongan a la defensiva.

<p>Utiliza la técnica descrita a continuación para presentar un nuevo perro a tu gato:

<p>Durante la primera semana aproximadamente y mientras el gato esté en el mismo espacio que el perro, lo mejor es tener al perro sujeto con una correa, aun cuando ese perro ya haya convivido con otros gatos y sepamos que no le va a hacer nada. Es más por que el gato se muestre más seguro y confiado que porque el perro en sí vaya a querer hacerle daño. Cuando el perro esté libre, el gato debe estar metido en otra habitación para que esté tranquilo.

<h3>Confinamiento:</h3>

<p>Mete a tu gato en una habitación de tamaño medio con su comida, agua y cama.
Da de comer a los animales a ambos lados de la puerta de la habitación de confinamiento. Esto hará que relacionen algo agradable (comer) con los olores del otro.
Hazlo en pequeños pasos. Inicialmente no coloque los comederos tan pegados a la puerta que haga que las mascotas se sientan demasiado intimidadas por la presencia del otro como para no comer. Ir acercando los comederos gradualmente hasta que ambos puedan comer tranquilamente, directamente a cada lado de la puerta. A continuación utiliza dos cuñas de sujeción para la puerta de tal manera que permita que ambos se vean, y repite el proceso de los comederos.

<h3>Intercambio de olores:</h3>

<p>Intercambia sus camas para que se acostumbren a los olores del otro. Frota una toalla sobre uno de los animales y colócala bajo el comedero del otro. Esto debería hacerse con cada una de las mascotas de la casa. Hay que hacer entender al perro que el gato es aceptable, para ello el perro ha de conseguir algo que quiere toda vez que el gato esté presente. Y el gato debe aprender que el perro no presenta ningún peligro, por lo que debe permitir que se le acerque a olfatearlo, jugar con él, etc

<p>Se empieza por inculcar al perro las órdenes de “sentado”, “tumbado”, “ven” y “quieto”. Entrena al perro en un área separada hasta que tenga estas órdenes claras. Se motivará al perro con pequeños “premios” (comida), que serán imprescindibles cuando tenga delante una distracción tan fuerte como la presencia de un gato. Incluso si el perro ya conoce estas órdenes, trabaja con él para reforzarlas (con “premios” y juguetes) y las atienda con prontitud. Utiliza pollo cocido, recortes de carne, salchichas de Frankfur,…. Necesita algo realmente sabroso que supere la distracción que supone el gato. Mantén al perro atado con la correa y premia el que esté calmado y callado. Hazlo cada vez que dejes al gato suelto por la casa. Al gato también hay que premiarle para inculcarle la idea de que el perro es aceptable.

<h3>Presentación Controlada:</h3>

<p>Una vez que ambas mascotas se sienten cómodas comiendo a ambos lados de la puerta y han sido expuestos a los olores del otro como se ha descrito anteriormente se puede intentar una presentación controlada cara a cara entre ellos. Ten al perro atado con su correa y mediante “premios” mantenlo sentado o tumbado y quieto. Haz que otro miembro de la familia traiga al gato en brazos al tiempo que le da algo rico de comer. Durante el tiempo que el gato esté en la habitación, debes atraer la atención del perro hacia ti. y no dejar que el perro fije su mirada en el gato. Inicialmente ambos deberán estar en los extremos opuestos de la habitación. Muchas visitas cortas son mejores que pocas visitas largas. Para empezar serán suficientes 2 o 3 minutos y la visita debería acabar en buenos términos. Haz que la otra persona devuelva el gato a su espacio. Lleva al perro fuera y juega con él durante 5 minutos. No prolongues la visita de manera que el perro se vuelva incontrolable ó que el gato se asuste por tener al perro muy cerca. Repite los pasos de este apartado hasta que ambos toleren la presencia del otro sin que haya signos de miedo, agresividad o cualquier otra conducta indeseada.

<h3>Libere al gato:</h3>

<p>Deja que el gato explore libremente, manteniendo al perro atado con su correa y haciendo que su atención se centre en ti e ignore al gato. El perro se mantiene con la correa, tumbado y quieto. Premia la calmada actuación del perro. Si el perro se levanta se le vuelve a la posición con el aliciente de un premio, alábalo y prémialo cuando obedezca y se quede quieto. Si el gato huye o demuestra agresividad es que estás yendo muy rápido con los distintos pasos. Vuelve a los pasos previos de presentación controlada.
Puede llevar varias semanas pero se obtienen buenos resultados.

<h3>Refuerzo Positivo:</h3>

<p>Aunque el perro debe entender que el perseguir o atosigar al gato son conductas inaceptables, también hay que enseñarle qué conductas son aceptables, tales como sentarse, venir cuando se le llama, o tumbarse, y premiarle por ellas. Si el perro sólo recibe castigos cuando está en presencia del gato y no lo asocia con algo agradable puede que dirija su enfado hacia el gato en forma de agresividad. Supervisa la interacción entre el gato y el perro. Es posible que quieras mantener al perro con la correa toda vez que el gato esté en su presencia durante el proceso de introducción. Asegúrate de que el gato tiene una vía de escape y un lugar donde refugiarse. Mantenlos en espacios separados cuando no esté en casa hasta que ambos se muestren totalmente confiados con la presencia del otro.

<h3>Precauciones:</h3>

<p>A los perros les gusta comerse la comida de los gatos. Deberás tener la comida del gato fuera del alcance del perro (en un armario o estantería alta). Es también frecuente que los perros se coman las heces de los gatos. No supone un riesgo para la salud del perro si el gato está debidamente desparasitado, pero es algo desagradable para nosotros. Puede también enfadar a tu gato el que algo tan importante para él como es su bandeja de arena sea invadida por el perro. El castigar la acción después de hecha no cambiará la actuación del perro. La mejor solución es colocar la bandeja de arena en un lugar fuera del alcance del perro.

{% endblock %}
