{% extends "RibercanAdvicesBundle:StaticPages:base-advices.html.twig" %}

{% block title %}Perros y niños | Ribercan{% endblock %}

{% block title_body %}Perros y niños{% endblock %}

{% block content_body %}
<p>Con total seguridad muchísimas personas recuerdan algún perro de cuando eran niños, tal vez una mascota que tuvieron en casa, quizás el simpático perro con el que jugaban con sus amigos, o el perro callejero que rondaba por las calles del barrio.

<p>Da la sensación de que los perros y los niños saben entenderse y disfrutan juntos, pero...¿qué pasa entonces cuando nos enteramos por las noticias de los ataques de perros a niños?

<p>Para un niño tener un perro puede ser muy beneficioso: son una excelente compañía, un amigo y generador de amigos (no hay duda que un perro motiva a otras personas a acercarse, conversar y conocerse) y además permite algo fundamental: que los padres enseñen al niño sobre los cuidados y responsabilidad que significa cuidar de otro ser vivo. A pesar de todo eso un perro es un perro, piensa como un perro y sus insistos son aún muy fuertes a pesar de estar cerca del ser humano desde hace miles de años. El instinto de presa, de territorialidad, la dominancia... son básicos para la supervivencia como especie; y es una importante misión enseñar a los niños cómo relacionarse de la mejor forma con este animal integrante de la familia.

<p>Así como resulta indispensable educar al perro para que se comporte bien con niños, también es muy importante enseñar a los niños a ser respetuosos con los animales, la manera de acariciarlos y jugar, saber cuando el perro no debe ser molestado y a reconocer los signos de amenaza y enfado.

<p>Los perros son bastantes tolerantes con sus dueños y las personas en general si están bien socializados, pero el perro no puede hablar para decirte si no le gusta algo. Su única manera de comunicarlo es ladrando, huyendo, amenazando y finalmente mordiendo. Si el niño (y cualquier adulto en general) no sigue las reglas para interactuar con el animal es muy posible que el perro le deje saber, a su manera, que no le gusta.

<p>Sin duda perros y niños llegan a ser siempre grandes amigos. Aprendamos a ser responsables nosotros primeros para permitirles tener cuando sean adultos un hermoso recuerdo de su querido perro y amigo de la infancia.

<p>Enseñale a tu hijo la siguientes viñetas y explícale como no debe interactuar con el perro.

<p>Te dejamos los enlaces a varios artículos sobre niños y perros que te pueden interesar:
<ul>
  <li><a>Los niños que viven con un perro desarrollan menos alergias.</a></li>
  <li><a>Niños con perros... más salud.</a></li>
  <li><a>Perros y niños: menos asma.</a></li>
  <li><a>Los niños necesitan animales.</a></li>
</ul>
{% endblock %}
