{% extends "RibercanAdvicesBundle:StaticPages:base-advices.html.twig" %}

{% block title %}Que hacer si te encuentras un perro | Ribercan{% endblock %}

{% block title_body %}Que hacer si te encuentras un perro{% endblock %}

{% block content_body %}
<p>Por desgracia son muchos los perros que vemos vagando diariamente por las calles, campos, carreteras...y muchos quieren ayudarles pero no saben cómo actuar exactamente. ¡Esperamos que los siguientes consejos os sean útiles y entre todos podamos ayudarles!

<p>En primer lugar lo que hay que hacer cuando te encuentras un animal es intentar cogerlo y acercarlo a un veterinario donde de forma gratuita le pasarán el lector del microchip, ¡puede que no esté abandonado, que se haya perdido y que sus dueños lo estén buscando!

<p>En algunos casos se dejarán coger fácilmente, pero en otros estarán asustados y al no conocernos no se acercarán lo suficiente a nosotros. Lo importante a la hora de acercarse es hacerlo con tranquilidad, sin movimientos bruscos y sin levantar la voz. Hay que procurar que el animal no se asuste porque puede huir y sufrir un atropello, si se le ofrece agua y algo de comida es probable que se sienta más protegido y seguro. Con un poco de paciencia conseguiremos que confíe en nosotros y se deje coger.

<p>Si el perro lleva microchip el veterinario podrá contactar con los dueños para que lo recuperen, ¡y tú te irás a casa con la satisfacción de haberle ayudado a regresar a su hogar! Si no lo lleva puede ser porqué haya sido abandonado o esté perdido pero sus dueños jamás se preocuparon de ponerle el microchip pensando que no era importante. En cualquier caso, si no te puedes quedar con él de forma permanente hay que empezar cuanto antes en la difusión para encontrarle un nuevo hogar.

<p>1. Seguramente lo primero que quieras hacer es llamar a protectoras como Ribercan para dejarlo en el refugio, pero por desgracia todas las protectoras estamos saturadas debido al elevado número de abandonos y por más que nos gustaría ayudar no tenemos sitio para él, por lo que no lo vamos a poder coger, pero si te vamos a poder ayudar en la difusión. Hazle un hueco en tu casa, se su familia de acogida hasta que entre todos le encontremos un nuevo hogar.
<p>2. Hazle fotos donde se vea bien y haz carteles con la siguiente información: Sexo, edad aproximada (se la puedes preguntar al veterinario), tamaño, carácter, localidad donde se encuentra, e-mail y teléfonos de contacto.
<p>3. Imprime y pega los carteles por veterinarios, establecimientos donde te dejen colgarlos, farolas, tablones de anuncios...de la localidad donde lo hayas encontrado, y en las localidades vecinas. ¡Cuantos más carteles mejor!
<p>4. Busca en google protectoras que estén cerca de la zona o en tu provincia y envíales un e-mail adjuntando el cartel que has hecho para pedirles ayuda en la difusión.Es importante que cuando el perro encuentre un nuevo hogar contactes otra vez con ellas para avisar y que dejen de difundirlo.
<p>5. Hay muchísimos blogs, foros, webs de anuncios, grupos y páginas en facebook, etc... donde puedes publicar los carteles para que la difusión sea todavía mayor. A continuación te dejamos una lista con algunos de esos sitios, pero te animamos a que busques más en google, seguro que a nosotros se nos ha escapado alguno:

<ul>
  <li>www.adoptatumascota.org</li>
  <li>www.adoptaloo.com</li>
  <li>www.adoptame.net</li>
  <li>www.perros.com</li>
  <li>www.todoperros.com</li>
  <li>www.animalis.es</li>
  <li>www.regalomascotas.com</li>
  <li>animalesenadopcion.mforos.mobi/login/</li>
  <li>quierounperro.foroactivo.com/</li>
  <li>amores-perros.com/</li>
  <li>www.mundoanimalia.com/animales_en_adopcion</li>
  <li>www.segundamano.es</li>
  <li>www.mundoanuncio.com</li>
  <li>www.milanuncios.com</li>
  <li>www.salvaunamascota.es/</li>
  <li>www.sosanimales.com</li>
  <li>www.8patas.es</li>
</ul>

<p>6. Cuando te llame alguien interesado en adoptarlo interésate en qué tipo de familia va a vivir, saber si va a estar con otros animales, con niños, si va a pasar mucho tiempo solo, si va a vivir en un piso o en un chalet... Como tú ya lo conoces sabrás en qué tipo de familia se va a adaptar mejor. Asegúrate de que le van a poner el microchip y van a llevar sus vacunas al día y una vez lo des pídeles fotos de vez en cuando para asegurarte de que está bien.

<p>Este proceso puede durar días, semanas, meses...depende de la difusión que hagas, recuerda que cuanto más lo difundas mejor! Además también puedes hacer eventos en redes sociales, pedir a tus familiares y amigos que te ayuden "con el boca a boca", puedes poner anuncios en periódicos,...¡imaginación al poder!

<p>Te aseguramos que el día que le encuentres un nuevo hogar te irás a la cama con una satisfacción enorme y con la certeza de que has ayudado y le has salvado la vida a un animal que lo necesitaba! Y él jamás lo olvidará.Es una experiencia muy gratificante, no mires hacia otro lado, no tengas medio a acogerlo en tu casa, y no tengas miedo a verte solo en todo este proceso porque no lo estarás, puedes contar con nuestra ayuda y con la ayuda de muchas personas que aunque no te conozcan se moverán para encontrarle una buena familia! Y recuerda...

<p>SALVAR A UN ANIMAL NO CAMBIARÁ EL MUNDO...¡PERO SI CAMBIARÁ EL MUNDO PARA ESE ANIMAL!
{% endblock %}
