{% extends "RibercanAdvicesBundle:StaticPages:base-advices.html.twig" %}

{% block title %}El golpe de calor | Ribercan{% endblock %}

{% block title_body %}El golpe de calor{% endblock %}

{% block content_body %}
<p><img width="300" height="232" alt="" src="http://www.ribercan.org/userfiles/perro_bebiendo_agua.jpg" /></p>
<p>Con la llegada del verano, el <b>golpe de calor</b> es uno  de los principales problemas al que se ven sometidas nuestras mascotas,  ya que tanto perros como gatos son mucho m&aacute;s sensibles al calor que los  humanos. &Eacute;stos no pueden regular su temperatura corporal mediante el  sudor, debido a que no tienen gl&aacute;ndulas sudor&iacute;paras repartidas por el  cuerpo. Los perros eliminan el calor a trav&eacute;s del jadeo y del sudor que  expulsan por las almohadillas de los pies y por las zonas aisladas con  poco pelo, como puede ser el vientre. Los gatos intentan mantener una  temperatura estable lami&eacute;ndose y manteniendo el pelo liso, de este modo,  la saliva depositada en el pelo, al evaporarse, disminuye su calor  corporal.</p>
<h2>&iquest;Cu&aacute;ndo se produce el golpe de calor?</h2>
<p>El golpe de calor  suele darse <u>en &eacute;pocas de mucho calor, como es en verano, y cuando hay  un alto grado de humedad</u>. Esto provoca que el perro o gato acaben con  sus reservas de az&uacute;car y sales minerales, provocando un colapso interno  que puede acabar con nuestra mascota en apenas 15 minutos.<br />
<br />
A pesar de la temperatura, hay ambientes que propician el <strong>golpe de calor</strong> como son los <u>espacios reducidos y/o mal ventilados como el coche, una habitaci&oacute;n, un balc&oacute;n, el trasport&iacute;n...</u></p>
<h2>&iquest;A qui&eacute;n afecta el golpe de calor?</h2>
<p>Los perros y gatos m&aacute;s propensos al <strong>golpe de calor</strong>  son los <u>cachorros y los ya mayores</u>. Los que tambi&eacute;n tienen un factor de  riesgo elevado son los <u>animales de capa negra,</u> ya que absorben m&aacute;s el  calor que los de capa clara.<br />
<br />
Los perros que <u>hacen ejercicio en tiempo caluroso</u>&nbsp; y los perros y gatos que tienen el <u>morro chato</u>, como el Bulldog o el Persa, tambi&eacute;n son m&aacute;s propensos a estos colapsos.</p>
<h2>S&iacute;ntomas del golpe de calor</h2>
<p>El perro o gato que ha sufrido un <strong>golpe de calor</strong> muestra los siguientes s&iacute;ntomas:</p>
<p>- Est&aacute; perezoso y sin ganas de moverse.</p>
<p>- Su respiraci&oacute;n es r&aacute;pida o costosa y las mucosas de las enc&iacute;as y de la conjuntiva est&aacute;n azuladas.</p>
<p>- Temblores musculares e incluso v&oacute;mitos.</p>
<p>- Le aumenta el ritmo card&iacute;aco.</p>
<p>- Se tambalea.</p>
<p>A ra&iacute;z de estos s&iacute;ntomas, si el animal no es tratado a tiempo, puede que esta dolencia se agrave y:</p>
<p>- Le aparezcan peque&ntilde;as manchas de sangre en la piel.</p>
<p>- Padezca una hemorragia gastrointestinal.</p>
<p>- Sufra una insuficiencia hep&aacute;tica o renal.</p>
<p>- Se vea afectado por un edema cerebral.</p>
<p>- Le fallen los &oacute;rganos.</p>
<p>- La temperatura media de los perros es de 39&deg;C, pero cuando sufren un <strong>golpe de calor</strong>, &eacute;sta puede llegar a los 42&deg;C o m&aacute;s.</p>
<h2>Tratamiento</h2>
<p>El <strong>golpe de calor</strong> se tiene que  tratar de inmediato, a la menor sospecha debemos llevar al perro o gato  al veterinario. Si la situaci&oacute;n es tan grave que no podemos trasladar  al animal hasta la cl&iacute;nica, nuestro objetivo ser&aacute; el de bajar la  temperatura corporal del animal, pero no lo podemos hacer de cualquier  manera.</p>
<h3><b>Pasos a seguir ante un golpe de calor:</b></h3>
<p>-Para  bajar la temperatura corporal del animal deberemos llevarlo a un sitio  fresco y aplicar fr&iacute;o en las zonas m&aacute;s importantes, como son la cabeza,  el cuello, las ingles y las axilas. De este modo, refrescaremos la  sangre que va hacia el cerebro, evitando un posible da&ntilde;o cerebral, y  bajaremos la velocidad de la respiraci&oacute;n.</p>
<p>- Deberemos poner al  animal bajo un chorro de agua (no muy fr&iacute;a) y humedecerle la boca sin  obligarle a beber, puesto que puede que sea incapaz de tragar o que  mucha agua lo ahogue. Cuando veamos que la respiraci&oacute;n se ha  normalizado, podremos sacarlo de debajo del agua pero manteniendo  siempre el control de su temperatura.</p>
<p>- Si queremos que el fr&iacute;o  le cale r&aacute;pido, podemos ayudarnos con ventilador o le podemos pasar  cubitos de hielo por la nariz, las axilas y por los lados del cuello.</p>
<p>- A  pesar de todos estos esfuerzos, es fundamental que cuando nos sea  posible, llevemos al perro o gato al veterinario. &Eacute;ste deber&aacute; hacerle un  reconocimiento y administrarle la medicaci&oacute;n adecuada para acabar de  recuperarse.</p>
<h3><b>Cosas que NO debemos hacer nunca ante un golpe de calor:</b></h3>
<p>- Cubrir o envolver a nuestra mascota con toallas, de esta manera el calor sube en vez de salir.</p>
<p>- Utilizar agua completamente helada, ya que le podemos da&ntilde;ar el cerebro.</p>
<h2>Como prevenir el golpe de calor</h2>
<p>Para evitar que nuestra mascota sufra un <strong>golpe de calor</strong> hay que actuar con sentido com&uacute;n. De todos modos, es importante recordar:</p>
<p>- Dar  de beber al animal regularmente para evitar la deshidrataci&oacute;n. El agua  se debe renovar a menudo y se debe administrar en pocas cantidades.</p>
<p>- No dejar al perro o gato encerrado dentro del coche.</p>
<p>- Sacar a pasear al perro en los momentos de menos calor y evitar que haga mucho ejercicio.</p>
<p>- No encerrar al perro o al gato en una habitaci&oacute;n peque&ntilde;a sin ventilaci&oacute;n.</p>
<p>- Si el perro vive en el jard&iacute;n, deber&iacute;a tener una sombra en la que cobijarse.</p>
<p>- En  verano, es mejor darle la comida al perro por la noche porqu&eacute; despu&eacute;s  de comer, los perros, son m&aacute;s propensos a sufrir colapsos.</p>
<p>- En  caso de salir de viaje, es aconsejable llevar abundante agua y hielo. Si  vemos que el animal se estresa, podemos colocar en el suelo del  trasport&iacute;n, toallas h&uacute;medas.</p>
<p>Fuente: <a href="http://www.mundoanimalia.com/articulo/El_golpe_de_calor_en_perros_y_gatos">www.mundoanimalia.com/articulo/El_golpe_de_calor_en_perros_y_gatos</a></p>
{% endblock %}
