{% extends "RibercanAdvicesBundle:StaticPages:base-advices.html.twig" %}

{% block title %}Leishmania | Ribercan{% endblock %}

{% block title_body %}Leishmania{% endblock %}

{% block content_body %}
<h2>Preguntas y respuestas más frecuentes sobre la Leishmania Canina</h2>

<p>Todo el que tiene animales compañia, y sobre todo perros, ha oído hablar de la Leishmaniosis Canina alguna vez, ya que es una enfermedad muy frecuente en nuestra zona geográfica.

<h3>¿Quién produce la Leishmaniosis en los perros?</h3>
<p>El agente causante de la Leishmaniosis es un parásito unicelular llamado Leishmania Infatum, que vive dentro de las células sanguíneas.

<h3>¿Cómo adquiere la enfermedad mi perro?</h3>
<p>La enfermedad se propaga entre los perros a través de las picaduras de un insecto muy parecido a un mosquito pero mucho más pequeño llamado flebotomo, que habita mayoritariamente en la cuenca mediterránea. El contagio se realiza cuando la hembra del flebotomo pica a un perro infesado de Leishmania, lo matiene en su aparato digestivo y el parásito sufre allí una serie de transformaciones que demoran de 4 a 20 días, para así ese flebotomo cuando pique a otro perro, contagiarlo.

<h3>¿Es posible el contagio por contacto directo de heridas, saliva, durante peleas, juegos, etc...?</h3>
<p>La respuesta es que no. Como explicamos antes, es necesario que intervenga el flebotomo, ya que es allí donde el parásito sufre las transformaciones necesarias hacia su forma infestante.

<h3>¿Qué perros tienen más riesgo de contagio?</h3>
<p>Los perros con más riesgo de contraer la enfermedad son aquellos que viven todo el tiempo en el jardín, y sobre todo aquellos que duerem fuera toda la noche, ya que el hábito del insecto es picar al anochecer y al amanecer. Se aconseja no sacar a pasear al perro durante esas horas, especialmente en primavera y otoño.

<h3>¿En que zonas geográficas mi perro tiene mayor riesgo de ser picado e infectado?</h3>
<p>El flebotomo requiere humedad ambiental alta, pero a diferencia de los mosquitos, los cuales se reproducen en aguas estancadas, éste lo hace en madrigueras y zonas de escombros.

<h3>¿Las personas pueden sufrir la enfermedad? ¿Y otros animales?</h3>
<p>Sí, las personas y muchos mamíferos, entre ellos los gatos, son susceptibles de contraer la enfermedad. Pero a diferencia de estos, la especie canina tiene una particularidad susceptibilidad a padecer la enfermedad, ya que su sistema inmunitario no es capaz de combatir correctamente el parásito como las otras especies.
<p>En el área mediterránea la Leishmaniosis humana es de muy baja incidencia, y normalmente la padecen personas con función inmunitaria disminuida (enfermos de SIDA, personas sometidas a tratamientos inmuosupresores, tarnsplantados, tratados con quimioterápicos, etc...)
<p>Un animal con la enfermedad no puede transmitir la enfermedad a personas u otros animales de forma directa.

<h3>¿Aumenta el riesgo de contagio a las personas el convivir con un perro enfermo de Leishmaniosis?</h3>
<p>NO, el riesgo de contagio ya existe por el hecho de vivir en una zona endémica de Leishmaniosis,  o sea una zona donde la enfermedad es de aparición frecuente todos los años. Por lo que recalcamos que no hay mayor riesgo al vivir con un perro enfermo, porque recordamos que se necesita que el parásito esté en esa sangre, "viva" de 4 a 20 días en el mosquito para así adquirir capacidad infestante y que luego nos pique a nosotros para poder contagiarnos.

<h3>¿Qué sintoma presentan los perros?</h3>
<p>Los signos clínicos que presenta un perro afectado por Leishmaniosis son:
<ul>
  <li>Anorexia, adelgazamiento, depresión.</li>
  <li>Zonas sin pelo y con intensa caspa, sobre todo en la cara y extremidades anteriores, úlceras recurrentes en la piel.</li>
  <li>Hemorragias nasales.</li>
  <li>Fiebre que no responde al tratamiento habitual.</li>
  <li>Aumento del tamaño de los ganglios externos.</li>
  <li>Cojeras intermitentes que no responden a tratamientos habituales.</li>
  <li>Diarreas crónicas.</li>
  <li>Vómitos.</li>
  <li>Lesiones costrosas en las orejas.</li>
  <li>Depilación alrededor de los ojos.</li>
  <li>Pelo sin brillo y que se cae más de lo normal.</li>
  <li>Conjuntivitis.</li>
  <li>Crecimiento exagerado de las uñas.</li>
</ul>
<p><b>*</b> La leishmania no tiene porque producir todos estos problemas de forma total ni parcial.

<h3>Mi perro está aparentemente sano, ¿puede tener Leishmaniosis?</h3>
<p>Sí, ya que el periodo de incubación de la enfermedad, desde la picadura del mosquito hasta la aparición de los primeros síntomas puede ser de varios meses, por lo que un perro clínicamente sano puede estar incubando la enfermedad. Estos perros sin síntomas pueden ser detectados por técnicas de diagnóstico precoz, siendo los perros detectados en esta fase los que presentan mejores perspectivas, ya que se los comienza a tratar cuando aún el parásito no ha lesiado ningún tejido en forma de severa aún. Nosotros recomendamos el control mediante test sanguíneo una vez al año, siendo lo ideal realizarlo de ser posible en forma semestral.

<h3>¿Cómo se diagnostica la enfermedad?</h3>
<p>Se realiza un análisis de sangre que detecta la presencia de anticuerpos circulantes de Leishmania Infatun, o sea, demuestra que el perro ha sido picado por un mosquito portador.

<h3>¿Podemos curar le Leishmaniosis?</h3>
<p>Sí, pero es conveniente recalcar que la efectividad del tratamiento siempre va a estar condicionado a la fase en la que se tome a la enfermedad, el  estado del perro antes y durante el proceso, a las lesiones producidas, al grado de infestación, etc...
Pero es importante que los perros no siempre llegan a curar totalmente la enfermedad. Los perros enfermos deben ser controlados periódicamente con análisis sanguíneos y tratados de nuevo si hay indicios de recaídas. El objetivo del tratamiento es que los perros no presenten ningún síntoma y permanezcan clíniamente sanos. Aquellos perros que al momento del diagnóstico presentan una isuficienca renal son los que tienen un pronóstico menos favorable  van a requerir mayores cuidados y esfuerzos para salir adelante.

<h3>¿Podemos hacer algo para prevenir la enfermedad?</h3>
<p>Por el momento no se dispone de ninguna vacuna efeciva contra la Leishmaniosis. Los mejores esfuerzos preventivos son evitar el contagio de la enfermedad y su desarrollo. Para esto recomendamos las siguientes medidas:
<ul>
  <li>No dejar a los perros dormir fuera.</li>
  <li>Realizar un chequeo sanguíneo semestral, para en el caso de haberse producido el contagio, actuar de manera temprana.</li>
  <li>Tratarlos de forma mensual con ectoparásiticidas, vía parenteral o del tipo spot on, com Frontline, Exspot, Scalibur, etc...</li>
</ul>

<h3>UN PERRO CON LEISHMANIA PUEDE LLEVAR CON EL TRATAMIENTO ADECUADO UNA VIDA PLENA, LONGEVA Y FELIZ COMO CUALQUIER OTRO ANIMAL.</h3>
<p>Solo recuerda que debe tomar su medicación cada día. En Ribercan tenemos casos de perros con esta enfermedad y son perros completamente normales, con su medicación hacen vida normal con el resto de sus compañeros. Ellos también se merecen la posibilidad de ser adoptados, te los presentamos (pincha en sus imágenes para acceder a sus fichas):
{% endblock %}
