{% extends "RibercanAdvicesBundle:StaticPages:base-advices.html.twig" %}

{% block title %}Mi mascota se ha perdido | Ribercan{% endblock %}

{% block title_body %}Mi mascota se ha perdido{% endblock %}

{% block content_body %}
<p>En Ribercan diariamente recibimos llamadas y e-mails de personas que nos piden ayuda porque han perdido a su perro o gato y nos gustar&iacute;a ayudaros a que tengais presentes  estos consejos que os ayudar&aacute;n en caso de p&eacute;rdida.</p>
<p><b><big>TENGO UN PERRO O GATO</big></b> </p>
<p>- <b>Idenitif&iacute;calo con una placa</b> en el collar. Est&aacute; demostrado que los perros o gatos  que llevan una placa en el collar con nombre y tel&eacute;fono tienen muchas  m&aacute;s posibilidades de ser recuperados, ya que la gente es m&aacute;s propensa a  ayudarlos si creen que tienen due&ntilde;o. En nuestra&eacute;fic tienda bena podr&aacute;s encontrar distintos modelos por solo 6,5&euro;<br />
<br />
</p>
<p>- <b>Ponle el microchip</b>, as&iacute; en caso de que  llegue a la perrera o a un veterinario podr&aacute;n identificarlo sin  problemas. Los datos del microchip tienen que estar siempre actualizados, si cambias de vivienda o tel&eacute;fonos acuerdate de actualizarlo, tu veterinario te indicar&aacute; c&oacute;mo hacerlo, adem&aacute;s es muy importante que pongas 2 o 3 n&uacute;meros de tel&eacute;fono para que te puedan localizar sin problema.<br />
<br />
</p>
<p>- <b>Ll&eacute;valo siempre con collar, </b>ser&aacute; m&aacute;s identificativo.<br />
<br />
</p>
<p>- Si has adoptado un perro, las primeras semanas, incluso los primeros meses de tenerlo, <b>nunca lo pasees sin correa</b>. Primero debe aprender a acudir a ti siempre que lo llames. <b>Coge la </b><b>correa fuertemente</b>, hay veces que por un  coche que pasa, una moto, o cualquier sonido fuerte pueden asustarse y pegar alg&uacute;n tir&oacute;n seco.  Luego se acostumbran sin ning&uacute;n problema.</p>
<p><b><big>HE PERDIDO A MI PERRO O GATO</big></b><b><big><br />
</big></b> </p>
<p><b>Las  primeras 24 horas son cruciales.</b> En una hora, un perro puede recorrer  km y al cabo de unos d&iacute;as estar realmente lejos de donde lo perdiste,  por eso es muy importante tu actuaci&oacute;n. Intenta dividirte con amigos y  familiares para que en todo momento haya gente busc&aacute;ndole.<br />
</p>
<p>-<b> Haz  un cartel r&aacute;pido</b> (1 o 2 fotos en las que se le vea bien, nombre y  caracter&iacute;sticas del animal y varios tel&eacute;fonos de contacto). Pon &quot;se  recompensar&aacute;&quot;, aunque sea poco hace que la gente se fije aun m&aacute;s incluse  se apunte los tel&eacute;fonos.<br />
<br />
</p>
<p>- <b>Denuncia su p&eacute;rdida ante la polic&iacute;a  local, guardia civil, seprona,</b> ... dales a todos un cartel y adem&aacute;s  p&eacute;galo en sitios concurridos: ayuntamiento, ambulatorio, veterinarios,  tiendas, gasolineras, bares, supermercados,.. y donde se perdi&oacute;.<br />
<br />
</p>
<p>- <b>Lleva comida</b> que pueda atraer su atenci&oacute;n.<br />
<br />
</p>
<p>- <b>No dejeis de buscarlo</b> a cada minuto las primeras 24 h, y <b>aunque se haga  de noche</b> no deis por terminada la b&uacute;squeda. Muchos perros perdidos  est&aacute;n tan asustados que se esconden y salen cuando ya no hay tanto ruido  y trasiego de coches, por la noche o primeras horas de la ma&ntilde;ana.<br />
<br />
</p>
<p>-<b> Comunica la p&eacute;rdida a las protectoras y perreras</b> de tu zona, en un radio de unos 60 km.<br />
<br />
</p>
<p>- Puedes insertar un anuncio en alg&uacute;n peri&oacute;dico de tu zona.<br />
<br />
</p>
<p>- P&uacute;blicalo en internet, tienes p&aacute;ginas como <a target="_blank" rel="nofollow" href="http://www.perrosperdidos.es/">www.perrosperdidos.es<br />
<br />
</a><br />
- No ceses en su b&uacute;squeda, &eacute;l no lo har&iacute;a.</p>
<p>Por supuesto nosotros te ayudaremos publicando tu caso en nuestro &aacute;lbum de &quot;perros y gatos perdidos&quot; en facebook.  Solo tienes que enviarnos una o dos fotos donde se le vea bien,  caracter&iacute;sticas que puedan identificarle f&aacute;cilmente (manchas, una  cicatriz, si llevaba collar,..), indicando la localidad donde se ha perdido y un par de tel&eacute;fonos de contacto a: <b>facebookribercan@gmail.com</b></p>
<p><img width="445" height="70" src="http://www.ribercan.org/userfiles/Sin t&iacute;tulo(8).jpg" alt="" /></p>
{% endblock %}
