{% extends "base.html.twig" %}

{% set body_class = 'page--news' %}

{% block title %}Sobre nosotros | Ribercan{% endblock %}

{% block body %}
  <section class="section--news">
    <div class="l__wrapper">
      <h1>Quiénes somos</h1>
      <div class="news__body">
        <p>RIBERCAN es una sociedad protectora de animales sin ánimo de lucro, que solamente cuenta con las aportaciones económicas de los socios, de las personas que cada mes apadrinan un perro y de las donaciones particulares.

        <p>Esta protectora fue creada en elaño 1.997, situada en un pueblo de Valencia llamado Carcaixent, ubicada en un terreno de 2500m2 cedido por el Ayuntamiento, en el que tenemos albergados más de 180 perros que están esperando una oportunidad de tener un hogar y de recibir todo el cariño y la atención que se merecen; tú puedes ayudarles de una manera o de otra, ¡piénsalo! merece la pena. No te arrepentirás.

        <p>Durante este tiempo los colaboradores de Ribercan han intentado por todos los medios sacar adelante a perros que por desgracia son abandonados en las carreteras, perros que son cruelmente maltratados, perros que son dejados atados en la puerta de la protectora o que directamente los tiran por encima de la valla...

        <p>Estamos intentando cambiar de terreno, para que se pueda considerar como núcleo zoológico y poder así contar con subvenciones y ayudas a nivel nacional. Además de poder permitirnos acoger y albergar al mayor número de perros evitando que su suerte termine en una muerte injusta y cruel.

        <p>Ribercan necesita colaboradores de todo tipo, tanto de manera económica como personas que puedan ayudar de manera física, bien sea en las instalaciones, en la atención y cuidado de los perros, en la difusión para poder conseguir personas que adopten, apadrinen o bien puedan tener el perro en su hogar durante un corto espacio de tiempo mientras se recuperan de enfermedades o hasta que sean adoptados.

        <p>Tenemos que concienciarnos de que la vida de un perro, y de cualquier animal, depende de la nuestra. Son seres vivos que tienen unas necesidades parecidas a las nuestras y que te pueden aportan la compañía, la fidelidad y el cariño necesario hasta su muerte.

        <p>Daros las gracias a todas las personas que leáis estas líneas por anticipado, en nombre de todos los colaboradores de la protectora de animales de Ribercan. Gracias por dedicarnos unos minutos de vuestro tiempo.

        <p>Si deseas pedir información sobre la protectora, hacernos cualquier tipo de consulta, hacer sugerencias e incluso aportarnos ideas para su mejora, no dudes en ponerte en contacto con nosotros a través del e-mail  info@ribercan.org

        <p>Gracias!!
      </div>
    </div>
  </section>
{% endblock %}
