{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% block title %}Hazte socio | Ribercan{% endblock %}

{% block title_body %}Hazte socio{% endblock %}

{% block content_body %}
  <p><img width="600" height="268" border="2" alt="" src="http://www.ribercan.org/userfiles/haztesocionuevaweb(1).jpg" /></p>
  <p>RIBERCAN nació para <b>proteger y defende</b><b>r</b> a todos aquellos que fueron víctimas del abandono, basándose en un equipo de <b>voluntarios</b> que luchan por todos estos animales, <b>dándoles cobijo, alimento, cariño, asistencia veterinaria y encontrando para ellos nuevas famílias.</b></p>
  <p>La labor de Ribercan se financia únicamente gracias a las aportaciones de l@s soci@s, padrinos, madrinas y donaciones (tanto materiales como económicas). Colabora con nosotros para que podamos seguir en esta lucha diaria y constante.</p>
  <p>Puedes ayudar desde ahora mismo haciendote soci@ de Ribercan desde solo <b>50€ al año</b> poniendote en contacto con nostros a través de la dirección <span style="color: rgb(51, 102, 255); "><b>socios@ribercan.org</b></span>. Te inforaremos de todo lo necesario. Tus datos serán cuidados y tratados con el respeto que se merecen.</p>
  <p><a href="/userfiles/Hoja de inscripcion de socio(2).doc">Haz click aquí para descargar la hoja de inscripción de soci@</a></p>
{% endblock %}
