{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% block title %}Hazte socio | Ribercan{% endblock %}

{% block title_body %}Hazte socio{% endblock %}

{% block content_body %}
  <p>RIBERCAN nació para <b>proteger y defender</b> a todos aquellos que fueron víctimas del abandono, basándose en un equipo de <b>voluntarios</b> que luchan por todos estos animales, <b>dándoles cobijo, alimento, cariño, asistencia veterinaria y encontrando para ellos nuevas familias</b>.

  <p>Los socios y socias sois un <b>pilar fundamental</b> en RIBERCAN, ya que gracias a vosotros cubrimos una gran parte de los gastos diarios del refugio y ayudáis así a mejorar la calidad de vida de todos los perros que tenemos buscando familias. Todos nuestros perros están vacunados, con chip, desparasitados periódicamente externa e internamente y esterilizados. Nos ayudáis a pagar el pienso de los más de 100 perros que albergamos, las medicinas que necesitan, consultas veterinarias…

  <p>Puedes ayudar desde ahora mismo haciéndote socio de RIBERCAN desde solo <b>50€ al año</b> rellenando el cuestionario que encontrarás a continuación. Tus datos serán cuidados y tratados con el respeto que se merecen.

  <div class="cta">
    <h1>¿Ya tienes claro que quieres ser socio?</h1>
    <p>¡Genial! Por favor, envía este formulario rellenado a <strong>socios@ribercan.org</strong>:</p>
    <p><a href="{{ asset('docs/socios.doc') }}" class="btn btn-primary typeform-share" role="button" data-mode="1" target="_blank">Descargar formulario socios</a></p>
  </div>
{% endblock %}
