{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% from "typeform.html.twig" import typeform %}

{% block title %}Hazte voluntario | Ribercan{% endblock %}

{% block title_body %}Hazte voluntario{% endblock %}

{% block content_body %}
  <p>En Ribercan existen dos tipos de personas que prestan su ayuda. Dependiendo de tu disponibilidad y tus ganas podrás ayudarnos ocasionalmente o embarcarte de pleno en la lucha y el trabajo por nuestros animales.</p>
  <p><span><u><b> </b><span><b>COLABORADORES</b></span></u></span></p>
  <p>Los colaboradores prestan una gran ayuda a Ribercan, ya que suponen un refuerzo constante acudiendo al refugio o participando en algunas tareas en menor o mayor medida. Si tu disponibilidad es escasa puedes convertirte en colaborador de Ribercan y asistir según tus posibilidades y grado de implicación que quieras o puedas adquirir.</p>
  <p><span><u><b> </b><span><b>VOLUNTARIOS</b></span></u></span></p>
  <p>Los voluntarios en Ribercan son el pilar fundamental. Estas personas son quienes día a día y de manera completamente altruista ponen todo su esfuerzo para sacar adelante a nuestros perros. Se ocupan de:</p>
  <p>- La limpieza y desifencción diaria de las instalaciones, así como la  revisión y mejora constante de estas, ya que nos encontramos en un  refugio muy humilde y que requiere constantes mejoras y arreglos de desperfectos</p>
  <p>- Se preocupan del bienestar de nuestros perros haciéndoles la vida lo más  agradable posible, de forma que todos salgan al patio a correr, jugar y  entretenerse, les revisan día a día y prestan toda su atención en la  salud, vacunas, visitas veterinarias, desparastiaciones, medicación,  curas y cualquier cosa que precisen. Además nuestros volunarios se  convierten en un gran apoyo para perros que han sufrido maltrato en  cualquiera de sus facetas y les ayudan a mejorar su calidad de vida, a  vivir libres de sus miedos y en resumen, a ser más felices y estar  preparados para encontrar una nueva família.</p>
  <p>- A parte de las tareas del refugio existen múltiples departamentos que  son llevados diariamente por nuestros voluntarios, también en su tiempo  libre y de forma altruista. Departamentos como adopciones, casas de  acogida, socios, padrinos, tienda, eventos, difusión, redes  sociales...son llevados por nuestros voluntarios con gran esfuerzo y  dedicación. dedicando horas diarias a atención teléfonica, respondiendo  vuestros e-mails y mensajes en las redes sociales, así como días enteros  en eventos por distintas localidades de la provincia.</p>
  <p>Hacer que todo funcione lo mejor posible es una dura tarea, pero tenemos un equipo de personas estupendo de quienes nos sentimos profundamente orgullosos. La actitud luchadora, la implicación, el respeto y el buen trabajo en equipo es indispensable.</p>

  <div class="cta">
    <h1>¿Ya tienes claro que quieres formar parte de Ribercan?</h1>
    <p>¡Genial! Por favor, rellena el formulario de voluntario:</p>
    <p>
      {{ typeform('¡Quiero ser voluntario!', 'https://ribercan.typeform.com/to/eC4pAf') }}
    </p>
  </div>
{% endblock %}
