{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% block title %}Dona material | Ribercan{% endblock %}

{% block title_body %}Dona material{% endblock %}

{% block content_body %}
  <p><span><u><b>&nbsp;COSAS QUE NECESITAMOS EN LA PROTECTORA</b></u></span></p>
  <p><span><b>&nbsp;TEMPORADA PRIMAVERA - VERANO</b></span></p>
  <p>-Collares antiparasitarios<b> que incluyan protección contra el mosquito.</b></p>
  <p>- Frontline (pulverizador contra pullgas y garrapatas)</p>
  <p>- Pipetas.</p>
  <p>- Champú antiparasitario.</p>
  <p>- Toldos para darles sombra.</p>
  <p><span><b>TEMPORADA DE INVIERNO:</b></span></p>
  <p>- Mantas, alfombras, toallas...</p>
  <p>- Plásticos para proteger de la lluvia y la humedad.</p>
  <p>- Cartones para aislarles del frío.</p>
  <p>- Cunas para perretes de diferentes tamaños.</p>
  <p><span><b>Abstenerse de traer: </b></span>Nórdicos de plumas, colchas con relleno, cojines, colchones de espuma. Juegan, lo rompen y su ingesta es realmente peligrosa.</p>
  <p><span><b>BOTIQUÍN:&nbsp;</b></span>Gasas, suero fisiológico, vendas anchas, vendas elásticas, apósitos, esparadrapos en rollo grande para vendajes, empapadores, toallitas húmedas bebé, jeringas, agujas subcutáneas, bastoncillos orejas, betadine.</p>
  <p><span><b>MEDICAMENTOS:</b></span></p>
  <p>- <b>En farmacia: </b>Sulfintestín, Amoxicilina Clavulánico 500 (comprimidos), Meloxicam, Blastoestimulina (pomada), Panolog (pomada), Furacín (pomada), Menaderm (pomada), Toseína (jarabe), colirio ojos (tobrex, tobradex o gentadexa)</p>
  <p>- <b>En veterinarios: </b>ADOLAC (para limpieza oídos, uso constante), Conofite, Ronaxan 100.</p>
  <p><span><b>COMIDA:</b></span></p>
  <p>- Latas (que contengan verduras, las que solo llevan carne suelen ser demasiado fuertes, así que si llevan verduras o arroz muchísimo mejor)</p>
  <p>- Comida para dietas.</p>
  <p>- Salchichas frankfurt y quesitos (para dar la medicación)</p>
  <p>- Yogures naturales.</p>
  <p>- Galletas tipo maría (se las damos de chuchería)</p>
  <p><span><b>Abstenerse de traer: </b></span>comida casera (provoca peleas), comida de gatos.</p>
  <p><span><b>PRODUCTOS DE LIMPIEZA:</b></span> Bolsas de basura, cepillos de barrer, guantes de trabajo, cubos con asa grandes, regaderas, palanganas, productos desinfectantes tipo Zotal.</p>
  <p><span><b>OTROS:</b></span> Casetas, collares isabelinos de diferentes tamaños (a la venta en veterinarios), collares, correas, arneses, juguetes para perros, alicates, tenazas, palas, contenedores, bridas, vallas, alambre, palets, toldos... <span><b>Absetenerse de traer:</b></span> peluches u otros juguetes que contengan relleno. Juega, lo rompen y su ingesta es realmente peligrosa)</p>
  <p>-------------------------------------------------------------------------------</p>
  <p>Si quieres venir a donarnos material o envíarlo por correo ponte en contacto con nosotros: <span><b>voluntariado@ribercan.org - 692.731.157<br>
  </b></span></p>
  <p><span style="font-size: medium; "><b>MUCHÍSIMAS GRACIAS!!!</b></span></p>
  <p><img width="600" height="871" alt="" src="http://www.ribercan.org/userfiles/Sin título(1).jpg"></p>
{% endblock %}
