{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% block title %}Dona material | Ribercan{% endblock %}

{% block title_body %}Dona material{% endblock %}

{% block content_body %}
  <h2>Cosas que necesitamos en la protectora</h2>

  <section>
    <h3>Temporada primavera - verano</h3>
    <ul>
      <li>Collares antiparasitarios<b> que incluyan protección contra el mosquito.</b></li>
      <li>Frontline (pulverizador contra pullgas y garrapatas).</li>
      <li>Pipetas.</li>
      <li>Champú antiparasitario.</li>
      <li>Toldos para darles sombra.</li>
    </ul>
  </section>

  <section>
    <h3>Temporada de invierno</h3>
    <ul>
      <li>Mantas, alfombras, toallas...</li>
      <li>Plásticos para proteger de la lluvia y la humedad.</li>
      <li>Cartones para aislarles del frío.</li>
      <li>Cunas para perretes de diferentes tamaños.</li>
    </ul>

    <p>Abstenerse de traer: Nórdicos de plumas, colchas con relleno, cojines, colchones de espuma. Juegan, lo rompen y su ingesta es realmente peligrosa.
  </section>

  <section>
    <h3>Botiquín</h3>
    <ul>
      <li>Gasas</li>
      <li>Suero fisiológico</li>
      <li>Vendas anchas</li>
      <li>Vendas elásticas</li>
      <li>Apósitos</li>
      <li>Esparadrapos en rollo grande para vendajes</li>
      <li>Empapadores</li>
      <li>Toallitas húmedas bebé</li>
      <li>Jeringas</li>
      <li>Agujas subcutáneas</li>
      <li>Bastoncillos orejas</li>
      <li>Betadine</li>
    </ul>
  </section>

  <section>
    <h3>Medicamentos (farmacia)</h3>
    <ul>
      <li>Sulfintestín</li>
      <li>Amoxicilina Clavulánico 500 (comprimidos)</li>
      <li>Meloxicam</li>
      <li>Blastoestimulina (pomada)</li>
      <li>Panolog (pomada)</li>
      <li>Furacín (pomada)</li>
      <li>Menaderm (pomada)</li>
      <li>Toseína (jarabe)</li>
      <li>Colirio ojos (tobrex, tobradex o gentadexa)</li>
    </ul>
  </section>

  <section>
    <h3>Medicamentos (veterinario)</h3>
    <ul>
      <li>ADOLAC (para limpieza oídos, uso constante)</li>
      <li>Conofite</li>
      <li>Ronaxan 100</li>
    </ul>
  </section>

  <section>
    <h3>Comida</h3>

    <ul>
      <li>Latas (que contengan verduras, las que solo llevan carne suelen ser demasiado fuertes, así que si llevan verduras o arroz muchísimo mejor)</li>
      <li>Comida para dietas.</li>
      <li>Salchichas frankfurt y quesitos (para dar la medicación)</li>
      <li>Yogures naturales.</li>
      <li>Galletas tipo maría (se las damos de chuchería)</li>
    </ul>

    <p>Abstenerse de traer: comida casera (provoca peleas) o comida de gatos.
  </section>

  <section>
    <h3>Productos de limpieza</h3>

    <ul>
      <li>Bolsas de basura</li>
      <li>cepillos de barrer</li>
      <li>guantes de trabajo</li>
      <li>cubos con asa grandes</li>
      <li>regaderas</li>
      <li>palanganas</li>
      <li>productos desinfectantes tipo Zotal.</li>
    </ul>
  </section>

  <section>
    <h3>Otros</h3>

    <ul>
      <li>Casetas</li>
      <li>Collares isabelinos de diferentes tamaños (a la venta en veterinarios)</li>
      <li>Collares</li>
      <li>correas</li>
      <li>arneses</li>
      <li>juguetes para perros</li>
      <li>alicates</li>
      <li>tenazas</li>
      <li>palas</li>
      <li>contenedores</li>
      <li>bridas</li>
      <li>vallas</li>
      <li>alambre</li>
      <li>palets</li>
      <li>toldos</li>
    </ul>

    <p>Absetenerse de traer: peluches u otros juguetes que contengan relleno. Juega, lo rompen y su ingesta es realmente peligrosa)</p>
  </section>

  <p>Si quieres venir a donarnos material o envíarlo por correo ponte en contacto con nosotros: <b>voluntariado@ribercan.org - 692.731.157</b>

  <p>¡Muchísimas gracias!</p>
{% endblock %}
