{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% block title %}Haz un donativo | Ribercan{% endblock %}

{% block title_body %}Haz un donativo{% endblock %}

{% block content_body %}
<p>Ribercan es una protectora que no recibe ningún tipo de ayuda ni subvención y nuestros perros salen adelante gracias a vuestras donaciones y a las aportaciones de socios y padrinos. ¡Vosotros haceis posible Ribercan!</p>
 
<p><strong>Nº de cuenta</strong>: BBVA 0182-0552-29-0201540080</p>
{% endblock %}
