{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% block title %}Apadrina | Ribercan{% endblock %}

{% block title_body %}Apadrina{% endblock %}

{% block content_body %}
  <p>Si tu situacón o circunstancias personales no te permiten adoptar, te sugerimos la alternativa de apadrinar. Por solo un mínimo de 6€ al mes puedes ser madrina o padrino de un perro que verdaderamente lo necesita. Apadrinando a un perro contribuyes a mejorar su calidad de vida: alimentación, asistencia veterinaria, juguetes, mejora de las instalaciones del refugio...</p>

  <div class="cta">
    <h1>¿Ya tienes claro que quieres apadrinar uno de nuestros peludos?</h1>
    <p>¡Genial! Por favor, envía este formulario rellenado a <strong>socios@ribercan.org</strong>:</p>
    <p><a href="{{ asset('docs/padrinos.doc') }}" class="btn btn-primary typeform-share" role="button" data-mode="1" target="_blank">Descargar formulario padrinos</a></p>
  </div>
{% endblock %}
