{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% from "typeform.html.twig" import typeform %}

{% block title %}Acoge | Ribercan{% endblock %}

{% block title_body %}Acoge{% endblock %}

{% block content_body %}
  <p>¿Te gustaría ser "canguro" durante unas semanas? Si te gustan los animales pero no puedes adoptar, tienes la opción de acoger temporalmente a uno de nuestros perros. El tiempo de la acogida siempre lo decides tú dentro de tus posibilidades y de tu disponibilidad.</p>

  <p>Hay diferentes tipos de acogidas:</p>

  <p><b>Cachorros de biberón:</b> Son perros menores de un mes Necesitan que los alimentemos con biberón cada 2 horas, que los estimulemos para hacer sus necesidades, etc... Hasta que cumplan un mes no pueden empezar con la vacunación y no pueden entrar en el refugio hasta que tengan todas las vacunas. La duración de la acogida sería de unos tres meses (a no ser que le encontremos antes una familia que lo adopte).</p>

  <p><b>Cachorros en periodo de vacunación.</b> No pueden salir a la calle y todavía no han aprendido a dónde hacer sus necesidades ni a controlar sus ganas, por lo que te vas a encontrar todos los días con "regalitos" por casa que hay que limpiar. No pueden entrar en el refugio hasta que terminen todo el proceso de vacunación, la duración de la acogida sería de mínimo un par de meses (a no ser que le encontremos antes una familia que lo adopte)</p>

  <p><b>Post-operatorios:</b> El post-operatorio más común que se realiza es por esterilización, aunque a veces hay casos de perros a los que tenemos que operar por tumores, por patas rotas por atropellos, etc... La duración de estas acogidas varía dependiendo del tipo de post-operatorio. Por ejemplo, la de la esterilización suele ser de una semana.</p>

  <p><b>Acogidas temporales por circunstancias especiales.</b> Desgraciadamente todos los años sufrimos inundaciones en el refugio por las fuertes lluvias del otoño que duran varios días sin parar. En estos casos necesitamos de manera urgente sacar a los perros del refugio durante unos días hasta que cesan las lluvias y sacamos toda el agua del refugio. Son momentos muy críticos para nosotros en los que tenemos que actuar con rapidez y saber con qué familias podemos contar para que durante unos días cuiden de nuestros perros.</p>

  <p><b>Acogidas indefinidas por circunstancias especiales.</b> En ocasiones hay perros que necesitan tomar pienso especial por enfermedades renales, de hígado... Perros ciegos que no consiguen adaptarse al refugio, perros muy mayores que necesitan el calor de un hogar y el amor de una familia... Estas acogidas son indefinidas, es decir, hasta que les encontremos una familia que los adopte. En estos casos pueden pasar semanas, meses, años... o incluso que se dé el caso de que el perro acabe sus días con su familia de acogida.</p>

  <div class="cta">
    <h1>¿Ya tienes claro que quieres acoger a uno de nuestros peludos?</h1>
    <p>¡Genial! Por favor, rellena el formulario de acogida:</p>
    <p>
      {{ typeform('¡Quiero acoger!', 'https://ribercan.typeform.com/to/KiaXOd') }}
    </p>
  </div>
{% endblock %}
