{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% block title %}Acoge | Ribercan{% endblock %}

{% block title_body %}Acoge{% endblock %}

{% block content_body %}
  <p>¿Te gustaría ser "<b>canguro</b>" por unos días?  Si te gustan los animales pero no te puedes quedar con uno, <b>puedes acoger temporalmente a uno de nuestros perretes</b>. Ser casa de acogida consiste en que alojar temporalmente a un animal en tu casa. El tiempo de la acogida siempre lo decides tú dentro de tus posibilidades y de tu disponiblidad. En todo momento podrás avisarnos en el caso de que ya no puedas seguir teniendo al animal.</p>

  <p>Muchas veces ocurre que tenemos que hacernos cargo de un perro y no hay sitio en la protectora, otras veces sí tenemos sitio pero el perro es un cachorro y allí sin las vacunas caen enfermos, o se trata de un perro mayor y necesita un lugar calentito donde dormir en invierno.</p>

  <p>
    Si te interesaría colaborar con Ribercan acogiendo a alguno de nuestros perretes ponte en contacto con el deparamento de adopciones y acogidas:
    <ul>
      <li><b>E-mail</b>: adopciones@ribercan.org</li>
      <li><b>Tlf 1</b>: 654.56.15.72</li>
      <li><b>Tlf 2</b>: 645.75.42.24</li>
    </ul>
  </p>

  <p>
    Horario de recepción de llamadas de lunes a viernes:
    <ul>
      <li><b>Tlf 1</b>: De 9h a 15:30h y de 22h a 23h</li>
      <li><b>Tlf 2</b>: De 11 a 14h y de 18 a 22h</li>
    </ul>
  </p>

  <p>
    Horario recepción de llamadas sábados y domingos:
    <ul>
      <li><b>Tlf 1</b> y <b>Tlf 2</b>: De 10h a 22h</li>
    </ul>
  </p>

  <p><b>Cachorros de biberón</b>: Son perros menores de un mes. Necesitan tomar biberón cada dos o tres horas. Esto en el refugio es completamente imposible, además de que caerían enfermos nada más entrar. Para poder acoger a un perro tan pequeño necesitas tener mayor disponiblidad horaria.  Cuando son tan pequeños no estan todavía vacunados, por lo tanto no pueden salir a la calle y harán el pis y la caca dentro de casa y no podrás bañarlos.</p>

  <p><b>Cachorros</b>: Mayores de un mes y en periódo de vacunación. Necesitan estar en una casa mientras se le ponen todas las vacunas y para recibir educación desde bien pequeños. Ten en cuenta que en la mayoría de los casos suelen ser perros más activos y jueguetones, que pueden romper algunas cosas, que están aprendiendo y necesitarán que les enseñes ciertas cosas como a hacer pis y caca en la calle, a no romper las cosas, a quedarse tranquilo cuando se quede solo...etc. Si todavía no tienen la vacunación completa no podrán salir a la calle ni podrás bañarlos.</p>

  <p><b>Post-operatorios</b>: La operación más común en el refugio es la de esterilización. En Ribercan son esterilizados todos los perros y perras. Muchas veces necesitamos acogidas de unos 10 o 15 días para que una vez operados no se les infecten los puntos en el refugio. Necesitan un lugar limpio, sin tierra ni polvo, con alguien que los controle para que no se quiten los collares isabelinos ni los puntos. Necesitan curas con betadine y medicinas. Hay más tipos de operaciones, aunque no tan comunes, como extirpación de tumores, operaciones de cataratas, operaciones de cadera, etc... En todos los casos los perros se recuperan mejor cuando estan acogidos en una casa. También necesitamos acogidas para post-operatorios de otros tipos, se han dado casos de perros que han sido abandonados con tumores, infecciones, patas rotas, etc...que precisan de operación. El tiempo de la acogida siempre depende del tipo de operación y de la recuperación necesaria.</p>

  <p><b>Perros ancianos</b>: Las acogidas de perros ancianos suelen ser más largas que otras. Los perros ancianos lo pasan muy mal en el refugio. Los meses de invierno sufren más frío que los perros más jóvenes, y en los meses de verano que en el refugio se superan los 40ªC corren mucho riesgo de sufrir un golpe de calor que puede ser mortal. Son perros muy cariñosos, agradecidos y tranquilos, acostumbrados a estar en un hogar. Solo quieren un lugar blandito para dormir y alguien a quien dar y de quien poder recibir cariño. Los perros ancianos no suelen ser adoptados y muchos están condenados a morir sin tener una segunda oportunidad.</p>

  <p><b>Perros adultos con necesidades varias</b>: Hay perros que por varios motivos no se adaptan al refugio y necesitan vivir en un hogar hasta que les encontramos família adoptiva. Algunos caen en depresión y dejan de comer, otros son muy activos y tienen unas necesidades de actividad física muy elevadas que en el refugio no podemos cubrir. Otros son perros que han sido maltratados y tienen miedo a las personas y necesitan rehabilitarse para poder ser adoptados. También sucede que en épocas de mucho abandono nos quedamos sin sitio en el refugio y necesitamos que varias famílias nos ayuden acogiendo a los perros nuevos que van entrando.</p>

  <h2>En muchos casos las famílias de acogida salvan la vida de los perros a los que acogen temporalmente. Es una experiencia muy gratificante.</h2>

  <div class="cta">
    <h1>¿Ya tienes claro que quieres acoger a uno de nuestros peludos?</h1>
    <p>¡Genial! Por favor, envía este formulario rellenado a <strong>adopciones@ribercan.org</strong>:</p>
    <p><a href="{{ asset('docs/acogida.doc') }}" class="btn btn-primary typeform-share" role="button" data-mode="1" target="_blank">Descargar formulario acogida</a></p>
  </div>

{% endblock %}
