{% extends "RibercanHowToHelpBundle:StaticPages:base-how_to_help.html.twig" %}

{% block title %}Grupo teaming | Ribercan{% endblock %}

{% block title_body %}Grupo teaming{% endblock %}

{% block content_body %}
  <p><a href="https://www.teaming.net/ribercan-sociedadprotectoradeanimales"><img width="350" height="105" alt="" src="http://www.ribercan.org/userfiles/logo_teaming.png"></a></p>
  <p><span>¡Ahora ayudarnos es más fácil que nunca! Y es que puedes colaborar con Ribercan y ayudarnos a seguir con nuestra labor... </span><span><b><span>¡¡POR SOLO 1€ AL MES!!</span></b></span></p>
  <p><span>¿Cómo? Pues solo tienes que hacer click </span><a href="https://www.teaming.net/ribercan-sociedadprotectoradeanimales"><b>AQUÍ</b></a> <span>y seguir los pasos que se indican para unirte a nuestro grupo teaming.</span></p>
  <p><span>El proceso de inscripción es rápido y sencillo y cada mes se te descontará directamente 1€ que recibiremos íntegramente, sin comisiones para el banco.</span></p>
  <p><span>¿Te animas? ¡Haz teaming!</span></p>
  <p><span><a href="https://www.teaming.net/faqs">Preguntas frecuentes Teaming</a></span></p>
{% endblock %}
