{% extends "base.html.twig" %}

{% set body_class = 'page--events' %}

{% block body %}
  <section class="section--listEvents">
    <div class="l__wrapper">
      <h1>Eventos</h1>

      {% if events %}
        <ol class="list--news">
          {% for event in events %}
            <li class="ListItem">
              <article class="event">
                <h2><a href="/events/{{ event.id }}">{{ event.title }}</a></h2>
                <p>{{ event.publishedAt|date('d/m/Y') }}</p>
              </article>
            </li>
          {% endfor %}
        </ol>
      {% else %}
        <p>Lo sentimos, ahora mismo no hay ningún evento planificado.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}
